form {
    display: inline-block;
}

a + input {
    margin-left: 1rem;
    opacity: 0;
}

input {
    background: none;
    border: none;
    cursor: pointer;
    color: -webkit-link;
    font-size: 14px;
    text-decoration: underline;
}

input:focus {
    color: red;
}