<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="post" th:action="@{/users/update}" th:object="${user}">
    <input type="hidden" name="id" th:value="${user.getId()}">
    <label for="firstName">Enter name:</label>
    <input type="text" name="firstName" th:value="${user.firstName}" id="firstName">
    <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name error</div>
    <br>
    <label for="lastName">Enter last name:</label>
    <input type="text" name="lastName" th:value="${user.lastName}" id="lastName">
    <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Surname error</div>
    <br>
    <label for="email">Enter email:</label>
    <input type="text" name="email" th:value="${user.email}" id="email">
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <input type="submit" value="Update">
</form>


</body>
</html>